@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(green, skyblue);
    font-family: "Newsreader", serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   
}

h1{
    text-align: center;
    font-size: 40px;
}

.card{
    width: 300px;
    background-color: greenyellow;
    padding: 10px;
    margin: 10px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}